.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

   /* #map {
    height: 100%;
  }
  .leaflet-tooltip-pane .text {
      color: red; 
      font-weight: bold;
      background: transparent;
      border:0;
      box-shadow: none;
      font-size:2em;
    } */